.header {
    height: 25%;
    padding: 0rem 1rem;
    padding-top: 2rem;
    margin-bottom: 5rem;

}

.box {
    margin: 0rem auto;
    border: 0.2rem solid var(--Header-Outline);
    border-radius: 1rem;
    display: flex;
    max-width: 50rem;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    padding: 1rem;
}


.box img {
    height: 100%;
    aspect-ratio: 162/99;
}

.score {
    aspect-ratio: 1/1;
    background-color: white;
    height: 100%;
    text-align: center;
    border-radius: 0.5rem;
}

.score h2 {
    color: var(--Dark-Text);
    font-size: clamp(2.25rem, 3.5vw, 7rem);
    text-align: center;
}

.score p {
    padding-top: 0.5rem;
    letter-spacing: 0.2rem;
    color: var(--Score-Text);
    text-transform: uppercase;
    font-size: clamp(0.5rem, 1vw, 2rem);
}